<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>583974691550-h72m22ro06q6b2rbfhr4lj6td8822522.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCsWfvkk4fos5ILXp3TropAb67o6IptPQY</string>
	<key>GCM_SENDER_ID</key>
	<string>583974691550</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.uac.qu</string>
	<key>PROJECT_ID</key>
	<string>testregister-ae4f8</string>
	<key>STORAGE_BUCKET</key>
	<string>testregister-ae4f8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:583974691550:ios:20074b2a3ce7317d79584f</string>
	<key>DATABASE_URL</key>
	<string>https://testregister-ae4f8.firebaseio.com</string>
</dict>
</plist>